/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0070e1;
  --ifm-color-primary-dark: #0065cb;
  --ifm-color-primary-darker: #005fbf;
  --ifm-color-primary-darkest: #004e9e;
  --ifm-color-primary-light: #007bf8;
  --ifm-color-primary-lighter: #0481ff;
  --ifm-color-primary-lightest: #2592ff;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #33475c;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
